In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import matplotlib as mpl
from os import path
import sys
import uproot
from tqdm import tqdm

# Add the head direcoty to sys.path
workspace_root = os.getcwd()  
sys.path.insert(0, workspace_root + "/../../")

from makedf import chi2pid
import pyanalib.split_df_helpers as splh

In [13]:
proton_file = "../../mc_MCP2025B_1e20_05_prodgenie_corsika_proton_rockbox_sbnd_CV_caf_flat_caf_sbnd_recom_proton.df"
keys2load = ["hits"]
proton_dfs = splh.load_dfs(proton_file, keys2load, 2)

In [14]:
proton_df = proton_dfs['hits']

In [15]:
proton_df

               index  selection   run  subrun  evt  tpc  plane        rr  \
__ntuple
0        0         0          1   999      97   41    1      2  9.167354
         1         1          1   999      97   41    1      2  8.931997
         2         2          1   999      97   41    1      2  8.674853
         3         3          1   999      97   41    1      2  8.434785
         4         4          1   999      97   41    1      2  8.185217
...              ...        ...   ...     ...  ...  ...    ...       ...
1995     7279     87          2  3744      35   85    0      2  1.996608
         7280     88          2  3744      35   85    0      2  1.683114
         7281     89          2  3744      35   85    0      2  1.382578
         7282     90          2  3744      35   85    0      2  1.071302
         7283     91          2  3744      35   85    0      2  0.735491

                      dqdx     integral  ...           x           y  \
__ntuple                                 ...
0        0     2740.727051   872.075256  ...  137.003372   11.324773
         1     2934.755859   933.625000  ...  137.063828   11.351178
         2     2741.402100   872.288635  ...  137.130600   11.380020
         3     2781.793701   885.832458  ...  137.191498   11.406928
         4     3253.173828  1036.016602  ...  137.257385   11.434967
...                    ...          ...  ...         ...         ...
1995     7279  4696.033203  1410.972412  ...  -78.267532 -122.336693
         7280  4649.343262  1458.785034  ...  -78.185692 -122.381714
         7281  4837.355957  1518.583496  ...  -78.106064 -122.425896
         7282  5365.349121  1684.950806  ...  -78.023613 -122.471970
         7283  6115.482422  1920.840332  ...  -77.935051 -122.521591

                        z            t     pitch       phi    efield  \
__ntuple
0        0     307.905975  1252.680908  0.312528  1.306822  0.489129
         1     308.131897  1252.219482  0.312601  1.305963  0.489122
         2     308.378540  1251.576904  0.312663  1.305298  0.489115
         3     308.609192  1251.073486  0.312908  1.302340  0.489108
         4     308.848267  1250.484131  0.312931  1.302051  0.489102
...                   ...          ...       ...       ...       ...
1995     7279  322.783325  2001.798706  0.314618  1.307483  0.500041
         7280  323.082581  2002.821411  0.314658  1.307213  0.500051
         7281  323.368988  2003.735596  0.314825  1.305926  0.500061
         7282  323.665588  2004.743530  0.314940  1.305153  0.500071
         7283  323.985687  2005.968262  0.314992  1.304897  0.500082

               trk_chi2_mu  trk_chi2_p  true_pdg
__ntuple
0        0       37.928516    2.587474      2212
         1       37.928516    2.587474      2212
         2       37.928516    2.587474      2212
         3       37.928516    2.587474      2212
         4       37.928516    2.587474      2212
...                    ...         ...       ...
1995     7279    39.741302    1.740107      2212
         7280    39.741302    1.740107      2212
         7281    39.741302    1.740107      2212
         7282    39.741302    1.740107      2212
         7283    39.741302    1.740107      2212

[13129076 rows x 23 columns]

In [16]:
dqdx_corr = chi2pid.dqdx(proton_df, gain=None, calibrate="SBND", isMC=True)

In [17]:
dqdx_corr

__ntuple
0         0       2853.090550
          1       3052.411796
          2       2851.297312
          3       2893.300897
          4       3383.565946
                     ...
1995      7279    4317.338778
          7280    4660.099186
          7281    4848.568237
          7282    5377.812469
          7283    6129.725725
Length: 13129076, dtype: float64

In [18]:
proton_df['dqdx'] = dqdx_corr

In [19]:
proton_df

               index  selection   run  subrun  evt  tpc  plane        rr  \
__ntuple
0        0         0          1   999      97   41    1      2  9.167354
         1         1          1   999      97   41    1      2  8.931997
         2         2          1   999      97   41    1      2  8.674853
         3         3          1   999      97   41    1      2  8.434785
         4         4          1   999      97   41    1      2  8.185217
...              ...        ...   ...     ...  ...  ...    ...       ...
1995     7279     87          2  3744      35   85    0      2  1.996608
         7280     88          2  3744      35   85    0      2  1.683114
         7281     89          2  3744      35   85    0      2  1.382578
         7282     90          2  3744      35   85    0      2  1.071302
         7283     91          2  3744      35   85    0      2  0.735491

                      dqdx     integral  ...           y           z  \
__ntuple                                 ...
0        0     2853.090550   872.075256  ...   11.324773  307.905975
         1     3052.411796   933.625000  ...   11.351178  308.131897
         2     2851.297312   872.288635  ...   11.380020  308.378540
         3     2893.300897   885.832458  ...   11.406928  308.609192
         4     3383.565946  1036.016602  ...   11.434967  308.848267
...                    ...          ...  ...         ...         ...
1995     7279  4317.338778  1410.972412  ... -122.336693  322.783325
         7280  4660.099186  1458.785034  ... -122.381714  323.082581
         7281  4848.568237  1518.583496  ... -122.425896  323.368988
         7282  5377.812469  1684.950806  ... -122.471970  323.665588
         7283  6129.725725  1920.840332  ... -122.521591  323.985687

                         t     pitch       phi    efield  trk_chi2_mu  \
__ntuple
0        0     1252.680908  0.312528  1.306822  0.489129    37.928516
         1     1252.219482  0.312601  1.305963  0.489122    37.928516
         2     1251.576904  0.312663  1.305298  0.489115    37.928516
         3     1251.073486  0.312908  1.302340  0.489108    37.928516
         4     1250.484131  0.312931  1.302051  0.489102    37.928516
...                    ...       ...       ...       ...          ...
1995     7279  2001.798706  0.314618  1.307483  0.500041    39.741302
         7280  2002.821411  0.314658  1.307213  0.500051    39.741302
         7281  2003.735596  0.314825  1.305926  0.500061    39.741302
         7282  2004.743530  0.314940  1.305153  0.500071    39.741302
         7283  2005.968262  0.314992  1.304897  0.500082    39.741302

               trk_chi2_p  true_pdg  iov
__ntuple
0        0       2.587474      2212    0
         1       2.587474      2212    0
         2       2.587474      2212    0
         3       2.587474      2212    0
         4       2.587474      2212    0
...                   ...       ...  ...
1995     7279    1.740107      2212    0
         7280    1.740107      2212    0
         7281    1.740107      2212    0
         7282    1.740107      2212    0
         7283    1.740107      2212    0

[13129076 rows x 24 columns]

In [20]:
output = "proton_hit_df_mc_bnb_light_1e20_v10_06_00_05_norm_etau_corr.h5"
with pd.HDFStore(output) as hdf_pd:
    hdf_pd.put(key="hits", value=proton_df, format="fixed")